html {
  margin: 1rem auto;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "montserrat";
  color: #333;
  text-align: justify;
  hyphens: auto;
  max-width: 800px;
}

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* ——————————————— ✣ ❴Nav|Início❵ ✣ ——————————————— */

.logo-nome a {
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.logo-nome .filipe {
  font-size: 1.5rem;
}

.logo-nome .front-end {
  font-family: "BDScript-Regular";
  font-size: 3rem;
  margin-top: -1.5rem;
}

@font-face {
  font-family: BDScript-Regular;
  src: url(../fonts/BDScript-Regular.otf);
}

@font-face {
  font-family: Boheme Floral;
  src: url(../fonts/Boheme-Floral.ttf);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-itensMenu {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-itensMenu a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid;
}

/* *** *** ✣ ❴Nav|@media❵ ✣ *** *** */

@media (max-width: 620px) {
  .logo-nome .filipe {
    font-size: 1.25rem;
  }

  .logo-nome .front-end {
    font-family: "BDScript-Regular";
    font-size: 2.5rem;
    margin-top: -1.25rem;
  }
}

@media (max-width: 560px) {
  .nav-container {
    flex-direction: column;
    margin-right: 2.5rem;
  }

  .logo-nome .filipe {
    font-size: 1.5rem;
    margin-left: 3rem;
  }

  .logo-nome .front-end {
    font-family: "BDScript-Regular";
    font-size: 3rem;
    margin-top: -1.5rem;
    margin-left: 3rem;
  }
}

/* ——————————————— ✣ ❴Nav|FIM❵ ✣ ——————————————— */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* ——————————————— ✣ ❴Main|Início❵ ✣ ——————————————— */

.main-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
}

.main-container img {
  width: 250px;
  border-radius: 50%;
}

.apresentacao {
  align-items: center;
}

.apresentacao p {
  color: #555;
}

.apresentacao a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #555;
}

.apresentacao span {
  font-weight: 600;
}

h1,
h2 {
  text-align: center;
}

/* *** *** ✣ ❴Main|@media❵ ✣ *** *** */

@media (max-width: 800px) {
  .main-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  p {
    text-align: justify;
  }

  .main-container img {
    margin-top: 1rem;
  }
}

@media (max-width: 380px) {
  .main-container img {
    width: 200px;
  }
}

/* ——————————————— ✣ ❴Main|FIM❵ ✣ ——————————————— */

/* *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** */

/* ——————————————— ✣ ❴Footer|Início❵ ✣ ——————————————— */

.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* ——————————————— ✣ ❴Footer|Início❵ ✣ ——————————————— */
